{% extends 'app1/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <div>
        <h1>please login</h1>
        <form action="{% url 'app12:user_login' %}" method="POST">
            {%csrf_token%}
            <label for="username" >Username:</label>
            <input name="username" type="username" />

            <label for="password" >Password:</label>

            <input name="password" type="password" />
            <input type="submit" name="" value="login"/>
        </form>
    </div>

{% endblock %}